<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
<Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s18" ss:Name="Currency">
   <NumberFormat
    ss:Format="_ &quot;€&quot;\ * #,##0.00_ ;_ &quot;€&quot;\ * \-#,##0.00_ ;_ &quot;€&quot;\ * &quot;-&quot;??_ ;_ @_ "/>
  </Style>
  <Style ss:ID="s62">
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="s67" ss:Parent="s18">
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
   <NumberFormat ss:Format="Fixed"/>
  </Style>
  <Style ss:ID="s80" ss:Parent="s18">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"
    ss:Bold="1"/>
   <NumberFormat ss:Format="Fixed"/>
  </Style>
  <Style ss:ID="s85">
   <NumberFormat ss:Format="@"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Sheet1">
  <Table ss:ExpandedColumnCount="5" ss:ExpandedRowCount="<%= rows.length+1 %>" x:FullColumns="1"
   x:FullRows="1" ss:DefaultRowHeight="15">
   <Column ss:AutoFitWidth="0" ss:Width="77.25"/>
   <Column ss:AutoFitWidth="0" ss:Width="138.75"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="56.25" ss:Span="2"/>
    <Row ss:StyleID="s62">  
            <Cell><Data ss:Type="String">SalesOrderID</Data></Cell>
            <Cell><Data ss:Type="String">CustomerName</Data></Cell>
            <Cell><Data ss:Type="String">Net</Data></Cell>
            <Cell><Data ss:Type="String">Tax</Data></Cell>
            <Cell><Data ss:Type="String">Total</Data></Cell>
    </Row>

    <% rows.forEach(function(row){ %>
        <Row>   
            <Cell><Data ss:Type="String"><%= row.SalesOrderID %></Data></Cell>
            <Cell><Data ss:Type="String"><%= row.CustomerName %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= row.NetSum %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= row.Tax %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= row.TotalSum %></Data></Cell>
        </Row>
    <% }) %>

</Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.3"/>
    <Footer x:Margin="0.3"/>
    <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
   </PageSetup>
   <Selected/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>2</ActiveRow>
     <ActiveCol>1</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>